{% load static %}
<style>
 
    footer{
        width:100%;
        background-color:#0A014F;
        color:#FAFAFA;
        padding:1%;
        font-family: 'Nunito', sans-serif;
    }
</style>
<!-- <button onclick="topFunction()" id="myBtn" title="Go to top">
  <img class="top-btn" src="{% static 'img/top.svg' %}">
</button> -->
<footer class="container-fluid footer">
    <p class="text-center">Eduvive Copyright ©2022 All rights reserved | Made with ❤ by Jayapritha N</p>
</footer>
</body>
<!-- <script>
  var mybutton = document.getElementById("myBtn");
  
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
    </script> -->
