{% load static %}
<style>  
    #header{
      background-color: #0A014F;
      font-family: 'Nunito', sans-serif;
      padding:1%;
    }
    .dropdown-item:focus{
      background-color:#C9B8E9;
      color: #FAE8EB;
    }
    .dropdown-item:active{
      background-color:#C9B8E9;
      color: #FAE8EB;
    }

    .nav-link{
        font-size:18px;
        line-height:24.55px;
        color:#FAE8EB;
        margin-left:45px;
    }
    .dropdown-item{
        font-size:18px;
        color:#FAE8EB;
        background-color: #0A014F;
        margin-left:0px;
        margin:5% 0% 5% 0%;
        padding-top:5%;
        padding-bottom: 5%;
        border:1px solid #F05D87;
    }
    .dropdown-menu{
      background-color:#0A014F;
      margin-left:45px;
    }
    .nav-link:hover{
        color:#5A40AB;
    }
    #sign-up{
      margin-right:35px;
    }
    .btn-profile{
      background-color:  #F05D87;
      color:#FAE8EB;
      padding: 12px 35px 12px 35px;
      border-radius:8px;
      font-size:18px;
      font-family: 'Nunito', sans-serif;
    }
    .btn-arrow{
      background-color:  #F05D87;
      color:#FAE8EB;
      border-radius:8px;
    }
    #login-navbtn{
      border:2px solid #F05D87;
      color:#FAE8EB;
      padding: 12px 35px 12px 35px;
      border-radius:8px;
      font-size:18px;
      font-family: 'Nunito', sans-serif;
    }
    #login-navbtn:hover{
      background-color:#F05D87;
      color:white;
    }
    .navbar-brand.logo {
      background: transparent;
    }
    
    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background: #141414;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }

    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 1.4rem;
      margin-left:10%;
      text-align: left;
      color: #FAFAFA;
      display: block;
      transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }

    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }

    .overlay-top{
      margin-bottom:60%;
    }
   
    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }

    @media screen and (max-device-width: 450px){
      #login-navbtn2{
        margin-left:70%;
      }
      #login-navbtn{
        border:2px solid #F05D87;
        color:#FAFAFA;
        padding:2% 4%;
        border-radius:8px;
        font-size:1rem;
      }
      #sign-up{
        margin-right:0px;
      }
    }

       
    #login-navbtn2{
        border:2px solid #F05D87;
        color:#FAFAFA;
        font-size:1.4rem;
        border-radius:8px;
        width:25%;
        height: auto;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Nunito', sans-serif;
      }
      #login-navbtn2:hover{
        border:2px solid #F05D87;
        color:#FAFAFA;
      }
    .overlay-link{
      background-color:#141414;
    }

    .overlay-menu{
      background-color:#141414;
      margin-left:45px;
    }
    .copyrights2{
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Nunito', sans-serif;
        color:#FAFAFACC;
        margin-bottom: 10%;
    }
</style>
<nav id="header" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="">
            <img src="" style="width: 119px;">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'EduviveData' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">FAQs</a>
                </li>
            </ul>
        </div>
        {% if user.is_authenticated %}
        <div class="btn-group" id="sign-up">
            <button type="button" class="btn btn-profile" onClick="window.location.href='{% url 'dashboard' %}';">{{user}}</button>
            <button
                type="button"
                class="btn btn-arrow dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="#">My Profile</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Settings</a>
                </li>
            </ul>
        </div>
        <a
            class="btn"
            id="login-navbtn"
            type="submit"
            href="{% url 'logout' %}"
        >Logout</a>
        <button
            class="navbar-toggler  navbar-light"
            style="background-color:white;"
            type="button"
            onclick="openNav()"
        >
            <span class="navbar-toggler-icon "></span>
        </button>
        {% else %}
        <a class="nav-link" id="sign-up" href="{% url 'register' %}">Sign up</a>
        <a
            class="btn"
            id="login-navbtn"
            type="submit"
            href="{% url 'login' %}"
        >Login</a>
        <button
            class="navbar-toggler  navbar-light"
            style="background-color:white;"
            type="button"
            onclick="openNav()"
        >
            <span class="navbar-toggler-icon "></span>
        </button>
        {% endif %}
    </div>
</nav>
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        <div class="overlay-top">
            <a href="{% url 'EduviveData' %}">Home</a>
            <a href="#">About</a>
            <a href="#">Contact Us</a>
            <a href="#">Feedback</a>
            <a href="#">FAQs</a>
        </div>
        <div class="overlay-end">
            {% if user.is_authenticated %}
            <a
                class="btn"
                id="login-navbtn2"
                type="submit"
                href="{% url 'logout' %}"
            >Logout</a>
            {% else %}
            <a style="text-align: center;margin-left:0%;" href="{% url 'register' %}">Sign up</a>
            <a
                class="btn"
                id="login-navbtn2"
                type="submit"
                href="{% url 'login' %}"
            >Login</a>
            {% endif %}
        </div>
        <div class="row">
            <p class="copyrights2">
                Eduvive &copy
                <script>document.write(new Date().getFullYear())</script>
            </p>
        </div>
    </div>
</div>
<script>

  function openNav() {
    document.getElementById("myNav").style.width = "100%";
  }

  function closeNav() {
    document.getElementById("myNav").style.width = "0%";
  }
</script>
