{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

{% include 'partials/header.html' %}
<style>
     body{
        background-color: #FAE8EB;
    }
    .dashboard-top{
        text-align: center;
        background-color:white;
    }
    .fixed-img{
        width:80%;
    }
    .img-card{
        width:100%;
        position: relative;

    }
    .container{
        margin-bottom: 20%;
    }
    *{padding: 0; margin: 0; box-sizing: border-box;}

    .main-heading{
        margin:5%;
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        text-align:left;
        color:#8568BC;
    }

    .main-text{
        font-family: 'Nunito',sans-serif;
        font-size: 18px;
        font-weight: 600;
        color:#564145;
    }
    .blog-post_cta{
        position: absolute;
        bottom: 10%;
        left:5%; 
        display: inline-block;
        padding: 2%;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size:18px;
        color: #eee;
        background-color:#8568BC;
        border-radius: .9rem;
        text-decoration: none;
    }
</style>
<div class="dashboard-top">
    <img class="fixed-img" src="{% static 'images/welcome.jpg' %}">
</div>
<div class="container">
    <div class="card-items">
        <div class="row">
            <p class="main-heading">Get Started...</p>
            <div class="col-lg-4 col-12 col-sm-12 col-md-4">
                <div class="card">
                    <a href="{% url 'blogs' %}">
                        <img src="{% static 'images/blog-img.jpg'%}" class="img-card">
                    </a>
                    <a href="{% url 'blogs' %}" class="blog-post_cta">view</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}

{% endblock content %}
